RewriteEngine On

# Error Pages
ErrorDocument 401 /not-found.html
ErrorDocument 403 /not-found.html
ErrorDocument 404 /not-found.html
ErrorDocument 500 /not-found.html

# Prevent directory browsing
Options -Indexes +FollowSymLinks -MultiViews

# Canonical host
RewriteCond %{HTTP_HOST}    ^www\.(.*)      [NC]
RewriteRule ^(.*)$          http://%1/$1    [L,R,NE]

#Needed
RewriteRule ^sitemap.xml$ sitemap.xml

# Search links
RewriteRule ^search/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)$ /search.php?categoryName=$1&categoryId=$2&term=$3&from=$4
RewriteRule ^search/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)$ /search.php?categoryName=$1&categoryId=$2&term=$3&from=$4&to=$5


#Admin section


#Add company
RewriteRule ^admin/add-company/$ /admin/add-company.php?1&section=2

#grid
RewriteRule ^dashboard/$ 								/dashboard.php?section=3
RewriteRule ^grid/category/([0-9]+)/([A-Za-z0-9-]+)/$ 	/grid.php?infoRequest=category&categoryId=$1&hasPromoted=1
RewriteRule ^grid/promoted/$ 							/grid.php?infoRequest=promoted
RewriteRule ^grid/unpublished/$ 							/grid.php?infoRequest=unpublished
RewriteRule ^grid/archived/$ 							/grid.php?infoRequest=archived
RewriteRule ^grid/location/([0-9]+)/([A-Za-z0-9-]+)/$ 	/grid.php?infoRequest=location&locationId=$1

#Edit  companies
RewriteRule ^edit-company/main/([0-9]+)/([A-Za-z0-9-]+)/$ /edit-company.php?company=$1

#main-sliders
RewriteRule ^maingallery/$ /main-gallery.php

#videos
RewriteRule ^admin/main-videos/$ /admin/videos.php?section=8

#settings
RewriteRule ^settings/$ /settings.php?section=9

#Sign-Out
RewriteRule ^admin/sign-out/$ /admin/sign-out.php?company=$1